In [346]:
### Importing Packages 
import pandas as pd
import numpy as np
import json
from pandas import json_normalize

In [347]:
### Reading in JSON Files

#### Put your File path here to read in json file:
json_file_path = '/Users/name/Documents/FolderName/receipts.json'

# Read JSON file 
data = []
with open(json_file_path, 'r') as f:
    for line in f:
        data.append(json.loads(line.strip()))

In [ ]:
### ONLY USED To handle receipts portion of the json
df_receipts = pd.DataFrame(data)
df_receipts = pd.json_normalize(data, sep='_', errors="ignore")

df_receipts.rename(columns={"_id_$oid": "receipt_id"}, inplace=True)
df_receipts.head()

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,receipt_id,createDate_$date,dateScanned_$date,finishedDate_$date,modifyDate_$date,pointsAwardedDate_$date,purchaseDate_$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

In [338]:
## Creating Receipt Item List Table in the nested "reward receipt item list" table

df_receipts_exploded = df_receipts.explode('rewardsReceiptItemList')

receipt_id = df_receipts["receipt_id"]
items = df_receipts["rewardsReceiptItemList"]

df_items = pd.json_normalize(items.explode())
df_items['receipt_id'] = df_receipts_exploded['receipt_id'].reset_index(drop=True)
 
df_items.head(8)

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId,receipt_id
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1eb0a720f0523000575
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b
2,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1bb0a720f052300056b
3,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1f10a720f052300057a
4,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1ee0a7214ada100056f
5,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1d20a7214ada1000561
6,1234,NaN,2.56,2.56,True,2,True,3.0,1234,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1d20a7214ada1000561
7,4011,ITEM NOT FOUND,3.25,3.25,False,1,True,1.0,4011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5ff1e1e40a7214ada1000566

In [ ]:
### Cleaning Field Names for Receipts table specifically (Taking out '$' and lower casing Hard coded)

df_receipts_new = df_receipts.drop(columns=["rewardsReceiptItemList"])
df_receipts_new.columns = df_receipts_new.columns.str.lower()
df_receipts_new.rename(columns = lambda x: x.replace('$',''), inplace= True)
df_receipts_new.head()

,bonuspointsearned,bonuspointsearnedreason,pointsearned,purchaseditemcount,rewardsreceiptstatus,totalspent,userid,receipt_id,createdate_date,datescanned_date,finisheddate_date,modifydate_date,pointsawardeddate_date,purchasedate_date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12

In [125]:
### Cleaning Field Names 
df.columns = df.columns.str.lower()
df.rename(columns = lambda x: x.replace('$',''), inplace= True)
df.columns

Index(['active', 'role', 'signupsource', 'state', '_id_oid',
       'createddate_date', 'lastlogin_date'],
      dtype='object')

In [343]:
### Cleaning Field names in reward items list
df_items.columns = df_items.columns.str.lower()
df_items.rename(columns = lambda x: x.replace('$',''), inplace= True)
df_items.columns

Index(['barcode', 'description', 'finalprice', 'itemprice', 'needsfetchreview',
       'partneritemid', 'preventtargetgappoints', 'quantitypurchased',
       'userflaggedbarcode', 'userflaggednewitem', 'userflaggedprice',
       'userflaggedquantity', 'needsfetchreviewreason',
       'pointsnotawardedreason', 'pointspayerid', 'rewardsgroup',
       'rewardsproductpartnerid', 'userflaggeddescription',
       'originalmetabritebarcode', 'originalmetabritedescription', 'brandcode',
       'competitorrewardsgroup', 'discounteditemprice',
       'originalreceiptitemtext', 'itemnumber',
       'originalmetabritequantitypurchased', 'pointsearned', 'targetprice',
       'competitiveproduct', 'originalfinalprice',
       'originalmetabriteitemprice', 'deleted', 'priceaftercoupon',
       'metabritecampaignid', 'receipt_id'],
      dtype='object')

In [344]:
### To handle normalizing json files with no embeded json field
df = pd.DataFrame(df)
df = pd.json_normalize(data, sep='_', errors="ignore")
df

,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,_id_$oid,createDate_$date,dateScanned_$date,finishedDate_$date,modifyDate_$date,pointsAwardedDate_$date,purchaseDate_$date
0,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,1609687531000,1609687531000,1.609688e+12,1609687536000,1.609688e+12,1.609632e+12
1,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,1609687483000,1609687483000,1.609687e+12,1609687488000,1.609687e+12,1.609601e+12
2,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,1609687537000,1609687537000,NaN,1609687542000,NaN,1.609632e+12
3,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,1609687534000,1609687534000,1.609688e+12,1609687539000,1.609688e+12,1.609632e+12
4,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,1609687506000,1609687506000,1.609688e+12,1609687511000,1.609688e+12,1.609601e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1114,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603cc0630a720fde100003e6,1614594147000,1614594147000,NaN,1614594148000,NaN,1.597622e+12
1115,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603d0b710a720fde1000042a,1614613361873,1614613361873,NaN,1614613361873,NaN,NaN
1116,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603cf5290a720fde10000413,1614607657664,1614607657664,NaN,1614607657664,NaN,NaN
1117,25.0,COMPLETE_NONPARTNER_RECEIPT,25.0,2.0,"[{'barcode': 'B076FJ92M4', 'description': 'mue...",REJECTED,34.96,5fc961c3b8cfca11a077dd33,603ce7100a7217c72c000405,1614604048000,1614604048000,NaN,1614604049000,NaN,1.597622e+12
1118,NaN,NaN,NaN,NaN,NaN,SUBMITTED,NaN,5fc961c3b8cfca11a077dd33,603c4fea0a7217c72c000389,1614565354962,1614565354962,NaN,1614565354962,NaN,NaN

In [345]:
### Converting Data Frame to CSV file output. 
####df_receipts_new.to_csv("receipts.csv", index=False)
####df.to_csv("brands.csv", index=False)
####df.to_csv("users.csv", index=False)
df_items.to_csv("receipt_items_list.csv", index=False)